<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.Framework.Listeners.Listeners"></listener>
        <listener class-name="com.Framework.Listeners.ExtentReporterNG"></listener>
    </listeners>
<!--    <suite name="All Test Suite" parallel=""tests" thread-count="2">--> // This can be used to run tests in parallel - not recommended
<!--    <parameter name="URL" value="exampleURL"></parameter> //TODO Create class specific parameter examples-->
    <test name="All Tests">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="smoke"/> // Example of running a selection of tests belonging to a group-->
<!--            </run>-->
<!--        </groups>-->
<!--        <packages>-->
<!--            <package name="package name"/> // TODO: Create example package-->
<!--        </packages>-->
        <classes>
            <class name="AndroidTests">
                <!--        <methods>-->
                <!--          <include name ="/checkButtonFunction"/>-->
                <!--          <exclude name="/checkButtonFunction"/>-->
                <!--        </methods>-->
            </class>
<!--            <class name="BrowserTests"/>-->
<!--            <class name="IOSTests"/>-->
        </classes>
    </test>
</suite>