<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Tests" parallel="tests" thread-count="6">
  <listeners>
    <listener class-name="Listeners"/>
  </listeners>

  <test name="All Tests">
    <classes>
      <class name="AndroidTests">
<!--        <methods>-->
<!--          <include name ="Demo"/>-->
<!--        <exclude name="API.*"/>-->
<!--        </methods>-->
      </class>
      <class name="BrowserTests"/>
    </classes>
  </test>

</suite>
